@tailwind base;
@tailwind components;
@tailwind utilities;

.smooth {
    transition: all 100ms ease;
}

.me {
    transition: all 2s ease;

}

.float {
    animation: float 3s linear infinite alternate;
}

@keyframes float {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(1rem);
    }
}

html {
    max-width: 100vw;
    overflow: hidden;
}

body {
    scroll-behavior: smooth;
}

.space {
    background-image: url(../assets/star.svg);
    background-repeat: 7;
    background-size: 100vw;
}

.anim {
    animation: appear 3s 1;
    display: block;
}

@keyframes appear {
    from {
        display: none;
    }

    to {
        display: block;
    }
}

.conbuttons-cont {
    max-width: 100vw;
    position: fixed;
    height: fit-content;
    width: fit-content;
    right:0;
    bottom:0;
}

.conbuttons {
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: blue;
    width: 4rem;
    height: 4rem;
    opacity: 0.4;
    font-weight: 800;
    font-size: 3rem;
    border-radius: 50%;
}

.outline-text {
    -webkit-text-stroke: 2px solid rgb(252, 110, 110);

}

.typing {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    max-width: fit-content;
    display: inline-block;
    font-size: 3rem;
    width: 0;
    animation: typing 3s infinite alternate-reverse forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.bg-card {
    background-image: url(../assets/about-card2.png);
    background-size: 100% 100%;
    object-fit: cover;
    transition: background-size 3s ease;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-card:hover {
    background-size: 200% 200%;
}

@layer components {

    .useful-links {
        @apply text-cyan-500 hover:text-cyan-400 text-3xl sm:block inline-block mr-10
    }

    .contact-input {
        @apply rounded-full text-2xl border-2 border-white shadow-sm shadow-white
         bg-transparent mb-5 p-2 text-white max-w-[100vw] sm:text-3xl
    }

    .skills {
        @apply rounded-full mr-4 sm:bg-transparent bg-gray-300 inline-block sm:block 
        text-2xl p-1 font-bold
    }
    .fast_travel_button{
        @apply text-4xl md:text-3xl sm:text-2xl block
    }
}
.fade-in {
    animation: fade 6s;
}
.github{
    background:white;
    background-image: url(../assets/github-icon.png);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.bg-blur{
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
}