@tailwind base;
@tailwind components;
@tailwind utilities;

.me{
    transition: all 2s ease;
    opacity: 0.8;
   
}
.float{
    animation: float 3s linear infinite alternate;
}
@keyframes float {
    from{
        transform: translateY(-1rem);
    }
    to{
        transform: translateY(1rem);
    }
}
html{
    max-width:100vw;
    overflow: hidden;
}

body{
    scroll-behavior: smooth;
}

.space{
    background-image: url(../assets/star.svg);
    background-repeat: 7;
    background-size: 100vw;
}
.anim{
    animation: appear 3s 1;
    display: block;
}
@keyframes appear {
    from {
        display: none;
    }
    to{
        display: block;
    }
}
.conbuttons-cont{
    max-width: 100vw;
    right: 0;
    position: fixed;
    height: fit-content;
    width: fit-content;
    bottom: 0;
}
.conbuttons{
    text-align: center;
    background-color: white;
    color: blue;
    width: 4rem;
    height: 4rem;
    opacity: 0.4;
    font-weight: 800;
    font-size: 3rem ;
    border-radius: 50%;
}
